.footer {
    width: 100%;
    background-color: #1d3557;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer > .social-media-wrapper {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #e63946;
}

.footer > .social-media-wrapper a {
    color: #e63946;
    font-size: 1.5em;
    margin-right: 5px;
}

.footer > .rights {
    color: #f1faee;
    margin-bottom: 5px;
}