.header-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.header-wrapper > .header-title-wrapper {
    height: 108px;
    background-color: #1d3557;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-wrapper > .header-title-wrapper > h1 {
    color: #e63946;
    font-family: 'Inknut Antiqua', serif;
    font-weight: 900;
    border-bottom: 2px solid #f1faee;
    border-radius: 10px;
    padding-bottom: 5px;
}




.header-wrapper >  .header-banner {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    justify-content: center;
}

.header-wrapper >  .species {
    background-image: url("../assets/images/subspecies-banner.jpg");
}
.header-wrapper >  .populations {
    background-image: url("../assets/images/population-banner.jpg");
}

.header-wrapper >  .facts {
    background-image: url("../assets/images/facts-banner.jpg");
}


.header-wrapper >  .header-banner > .header-banner-title-wrapper {
    margin-top: 5%;
    height: 72px;
    width: 100%;    
    background-color: #e63946;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-wrapper >  .header-banner > .header-banner-title-wrapper h2 {
    width: 50vw;
    text-align: center;
    background-color: #1d3557;
    color: #f1faee;
    font-family: 'Inknut Antiqua', serif;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.75);

}

.header-wrapper > .nav-links {
    align-self: center;
    width: 50vw;
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid #e63946;
    border-bottom: 1px solid #e63946;

}

.header-wrapper > .nav-links a {
    text-decoration: none;
    color: #1d3557;
    font-size: 1.2em;
    font-weight: 400;
    padding: 5px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;

}

.header-wrapper > .nav-links a:hover {
    background-color: #e63946;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.75);
}







