.subspecies-body-wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subspecies-wrapper {
    margin-bottom: 72px;
    background-color: #1d3557;
    border: 1px solid #e63946;
    width: 75vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    align-items: center;
    
}


.subspecies-wrapper > .subspecies-img {
    height: 100%;
}
.subspecies-wrapper > .subspecies-img img {
    width: 100%;
    height: 100%;
}

.subspecies-wrapper > .subspecies-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.subspecies-wrapper > .subspecies-content h3 {
    color: #e63946;
    font-family: 'Inknut Antiqua', serif;
}

.subspecies-wrapper > .subspecies-content p {
    color: #f1faee;
    line-height: 1.5em;
}